*{
    margin: 0;
    padding: 0;     /*обнуляем края*/
}

a{
    text-decoration: none;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

header{ 
    background: url(assets/Rectangle\ 31.jpg);
    background-repeat: no-repeat;
    color: #FFFFFF;

}

.Logo{
    font-family: "Ribeye", serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 6%;
}

.basic_text{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
}
header a{
    color:#FFFFFF;
    font-weight: 500;
}

button{

} 