*{
    margin: 0;
    padding: 0;  /*обнуляем края*/
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 150%; 
}
.basic_text{
    font-size: 18px;
    opacity: 60%;
}

a{
    text-decoration: none;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}
.red_button{
    padding: 14px 34px 13px 34px;
    background-color: #C9453B;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 16px;
}

/* header */
header{ 
    background: url(assets/Rectangle\ 31.jpg);
    background-repeat: no-repeat;
    color: #FFFFFF;
    background-size: cover;
}

.Logo{
    font-family: "Ribeye", serif;
    font-size: 24px;
    letter-spacing: 6%;
}

header a{
    color:#FFFFFF;
    font-weight: 500;
    margin-left: 50px;
    font-size: 18px;
}


.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header div{
    padding: 35px 0 200px 0;
}
/* header */

/* main */
/*home*/
.home{
    color: #FFFFFF;
    padding-bottom: 244px;
}
h1{
    font-family: "Gelasio", serif;
    font-weight: bold;
    font-size: 65px;
    line-height: 120%;
    width: 804px;
    margin-bottom: 30px;
}
.home-text{
    width: 458px;
    margin-bottom: 40px;   
}
.home .red_button{
    padding: 18px 46px 17px 47px;
}
/*home*/
/* main */
/*location*/
h2{
    font-family: "Gelasio", serif;
    font-size: 43px;
    font-weight: 500;
    margin: 140px auto 20px auto;
    text-align: center;
}
.location .basic_text{
    text-align: center;
}
.location-text{
    max-width: 735px;
    margin: 0 auto 50px auto;
}
.location-distription{
    max-width: 334px;
    margin: 0 auto 33px auto;

}
h3{
    font-family: "Gelasio", serif;
    font-size: 24px;
    font-weight: 500;

}
.location h3{
    text-align: center;
    margin: 35px auto 10px auto;
}
.location-cart{
    border: 1px solid rgb(0,0,0,0.1);
    border-radius: 10px;
}
/*about*/
.about-text{
    max-width: 656px;
    margin: 0 auto;
    text-align: center;
}

